<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: headfront">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section sec:authorize="hasRole('ROLE_ADMIN')" 
            th:replace="layout/botonesAgregar :: botonesAgregar">
        </section>
        
        <section th:replace="layout/agregarMateria :: agregarMateria"></section>

        <section th:replace="layout/listadoMaterias :: listadoMaterias"></section>
        
        <section sec:authorize="hasRole('ROLE_ADMIN')" 
            th:replace="layout/botonesAgregar :: botonesAgregar"> 
        </section>
        
        <section th:replace="layout/agregarProfesor :: agregarProfesor"></section>
        
        <section sec:authorize="hasRole('ROLE_ADMIN')" 
            th:replace="layout/listadoProfesores :: listadoProfesores">
        </section>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
