<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: headfront">
        <title>inscripcion</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <p>
            "Estás muy cerca de formar parte de la comunidad de la Universidad 
            Quantum. Completá el formulario para iniciar el proceso de inscripción."
        </p>
    </body>
</html>
